
  
  .card-text {
    font-size: 85%;
  }

  .members {
    margin-top: 5%;
    margin-left: 22%;
    margin-right: 5%;
  }

  .move-drop-btn-member {
    float: right;
    margin-top: -45px;
    height: 30px;
  }