.home-page {
  align-items: flex-start;
  background-color: white;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 18px 0;
  width: 1440px;
}

.top-bar-9 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 19.0px;
  margin-top: 3px;
  min-width: 1361px;
  position: relative;
}

/* logo here  changed the bg color to white from  var(--alto) to hide the box*/ 
.rectangle-22-7 {
  background-color: white !important;
  border: 1px none;
  height: 77px;
  width: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* logo img here */
.logo-position{
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 70%;
}

.overlap-group2-8 {
  height: 23px;
  margin-bottom: 2.0px;
  margin-left: 64px;
  position: relative;
  width: 197px;
}

/* shop top left*/
.shop-top {
  left: 50;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

/* sell top left*/
.sell-top {
  cursor: pointer;
  left: 120px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.bar-container-4 {
  height: 203px;
  margin-left: -15px;
  margin-top: 22px;
  position: relative;
  width: 1480px;
}

.divider-bar-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 190px;
  padding: 0 15px;
  position: absolute;
  top: 0;
  width: 1480px;
}

.line-1-7 {
  height: 1px;
  margin-top: -1px;
  width: 1440px;
}

.flex-row-7 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 51px;
  margin-right: 153.0px;
  margin-top: 5px;
  min-width: 1091px;
  position: relative;
}

.place-8 {
  letter-spacing: 0;
  margin-bottom: 4.0px;
  min-height: 23px;
  margin-left: 34px;
  text-align: center;
  width: 129px;
  color: black;
}

/* shop middle bar*/
.shop-15 {
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 129px;
  color: black;
}
/* sell middle bar*/
.sell-15 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}
/* groups middle bar*/
.groups-7 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

/* wishlist middle bar MARGIN- 54px*/
.wishlist-7 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 54px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.line-2-7 {
  height: 1px;
  margin-top: 3px;
  width: 1440px;
}

.flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 652px;
  margin-left: 4px;
  margin-top: 31px;
  min-width: 1061px;
  position: relative;
}

.overlap-group4-5 {
  height: 649px;
  position: relative;
  width: 617px;
}

.middle-area-5 {
  display: flex;
  flex-direction: column;
  height: 427px;
  left: 300px;
  position: absolute;
  top: 0;
  width: 317px;
}

.todays-listings {
  height: 43px;
  letter-spacing: 0;
  text-align: center;
  width: 287px;
  margin-left: 350px;
}

.prodct-descrip-price-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 65px;
  margin-top: 8px;
  min-width: 252px;
}

/* product display size */
.overlap-group-19 {
  height: 66px;
  position: relative;
  width: 250px;
}

/* size of this box is 250 px width product size box*/ 
.product-box{
  background-color: var(--alto);
  display: flex;
  border: 1px none;
  height: 250px;
  margin-left: 65px;
  margin-top: 60px;
  width: 250px;
}

.items-information{
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  left:0;
  width: 250px;
}

/* dont need this anymore replaced by: items-information
.x1595-sanrio-kurumi-plush-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 250px;
}
*/

/* resize this and change to button later */
.icon-star-3 {
  height: 21px;
  left: 223px;
  position: absolute;
  top: 0;
  width: 22px;
}

/* category size bar whole group */
.category-bar-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 646px;
  position: absolute;
  width: 304px;
}

.search-container-4 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  margin-right: 20.0px;
  min-width: 224px;
  position: relative;
}

.categories-4 {
  align-self: flex-start;
  letter-spacing: 0;
  margin-top: 17px;
  min-height: 41px;
  text-align: center;
  width: 196px;
}

/* all categories under bar*/

.category-bar-items,
.category-bar-items a {
  letter-spacing: 0;
  margin-right: 14.0px;
  min-height: 30px;
  text-align: center;
  width: 180px;
  color: black;
}


.create-new-listing-8 {
  align-items: flex-start;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 8px;
  margin-top: 22px;
  min-width: 266px;
}

.overlap-group1-9 {
  height: 37px;
  position: relative;
  width: 264px;
}

/* not this one */
.rectangle-2-4 {
  background-color: var(--alto);
  border: 1px none;
  height: 37px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 261px;
}

/* new listing + filter */ 
.create-new-listing-9,
.create-new-listing-9 a,
.filter-4,
.filter-4 a {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 242px;
  color: black;
  text-decoration: none;
}

.overlap-group-20 {
  align-self: flex-start;
  height: 37px;
  margin-left: 8px;
  margin-top: 13px;
  position: relative;
  width: 264px;
}

/* btn block for filter btn */
.btn-block{
  padding: 0px 100px;
  border: none;
  background-color: transparent;
  
}