@import url('http://fonts.cdnfonts.com/css/tienne');

/* MAY NEED TO ADD HEIGHT 100% FOR ITEM DECRIP TEXT, NOW USING OVERFLOW FOR QUICK FIX */
body {
    font-family: 'Tienne', sans-serif;
   }


/* wrap for the whole product info page ADDED FLEX DISPLAY*/
.product-info-wrap{
  /*
    border: thin solid;
    border-color: black; added for visualisation*/
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    display: flex;
}

/* wrap for the product images on item info */
.product-img-wrap{
    width: 45%;
    /*
    border: thin solid;
    border-color: black;  added for visualisation*/
}

/* main item img wrapper SIZE: PADDING X WIDTH */ 
.square {
    border: thin solid;
    width: 60%;
    height: 0;
    padding-top: 60%;
    display: flex;
    margin-top: -1%;
    margin-left: 15%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/640px--Insert_image_here-.svg.png");
  }

  /* imgs below square item img */
  .img-gallery{
    border: thin solid;
    border-color: black;
    margin-top: 3%;
    width: 28%;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }

  /* wrap for the writing part of item description */
  .more-info-wrap{
    /*
    border: thin solid;
    border-color: black; added for visualisation*/
    float: right;
    width: 55%;
    height: auto;
}

  /* item name label */
.item-name-label{
    padding-top: 6%;
    font-family: 'Tienne', sans-serif;
    font-size: 35px;
    text-align: center;
}

/* text inside the infomation wrapper */
.info-text{
  font-size: 20px;
  margin-left: 2%;
}

/* item description text*/
.info-text-centered{
  font-size: 20px;
  text-align: center;
  white-space: normal;
  overflow: hidden;
}

/* price text */
.info-text-centered-price{
  font-size: 35px;
  text-align: center;
}

/* purchase button */
.purchase-btn{
  text-align: center;
  width: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 25px;
  margin-left: 20%;
  margin-top: 10%;
  font-weight: bolder;
  background-color: black;
  color: white;
}

/* contact button */
.contact-btn{
  text-align: center;
  width: 60%;
  font-size: 25px;
  margin-left: 20%;
  margin-top: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: 700;
  background-color:#5A896A;
  border-color: #5A896A;;
  color: white;
}

/* Change background on mouse-over */
.contact-btn:hover {
  background: white;
  color: black;
}

/* Change background on mouse-over */
.purchase-btn:hover {
  background: #A4DF9A;
  color: black;
}
