.member1-6 {
  align-items: flex-end;
  display: flex;
  margin-left: 4px;
  min-width: 336px;
  position: relative;
}

.overlap-group-3 {
  height: 71px;
  position: relative;
  width: 207px;
}

.rizwhales-1 {
  left: 62px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 145px;
}

.ellipse-5-1 {
  height: 71px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 71px;
}

.member1-6.member1-7 {
  margin-top: 54px;
}

