.login-page {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 112px 0;
  width: 1440px;
}

/* logo here title */
.rectangle-21 {
  background-color: var(--alto);
  border: 1px none;
  height: 124px;
  margin-right: 2.0px;
  margin-top: 6px;
  font-size: 75px;
  font-family: var(--font-family-tienne);
  text-align: center;
  width: 644px;
}

.top-bar-6 {
  display: flex;
  margin-left: 3.0px;
  margin-top: 34px;
  width: 519px;
}

/* sign in*/
.title {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: 50px;
  font-weight: 400;
  height: 82px;
  letter-spacing: 0;
  text-align: center;
  width: 517px;
}

.overlap-group-17 {
  height: 509px;
  margin-left: 2.0px;
  margin-top: 45px;
  position: relative;
  width: 644px;
}

.top-bar-7 {
  display: flex;
  height: 82px;
  left: 0;
  position: absolute;
  top: -40;
  width: 644px;
}

.sign-in-and-start-sc {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 82px;
  letter-spacing: 0;
  text-align: center;
  width: 642px;
}

