@import url('http://fonts.cdnfonts.com/css/tienne');

/* header for checkout */
.check-header{
    font-family: 'Tienne', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    margin-left: 20%;
    margin-top: 2%;
}

/* text under the checkout header */
.total-items{
    margin-top: -1%;
    font-family: 'Tienne', sans-serif;
    text-align: left;
    margin-left: 20%;
}

.checkout-items-card{
    border: thin solid;
    border-color: black;
    margin-left: 5%;
    padding-bottom: 50%;
}

/* item card for checkout */
.check-square{
    width: 40%;
    height: 0;
    padding-top: 15%;
    display: flex;
    margin-top: 1%;
    float: left;
    background-color: green;
    position: fixed;
    margin-left: 5%;
}


/* wrapper to move products display up change to 20px later! */ 
.wrapper-check{
    margin-top: 40px;
    float: left;
    margin-left: 20%;
  }
  
  /* Product Card CSS FONT WAS PREVIOUSLY ARIEL*/
  
  .card-check {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: 'Tienne', sans-serif;
    border: solid thin;
    border-color: black;
  }
  
  
/* Row and Col for the Product gallery view */
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  