.button {
  border: 1px none;
  cursor: pointer;
  height: 44px;
  left: 1153px;
  position: absolute;
  top: 21px;
}

.button {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

