/* Popup style */
.popup-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -30px;
  left: 0;
  margin-top: 4%;
  display: flex;
 
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 4px solid #999;
  border-style: double;
  overflow: auto;
}
 
/* wrap for img sqaure*/
.square-popup{
  border: solid thin;
  width: 200px;
  height: 200px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

/* img sizing inside square-popup*/
.popup-img{
  max-height: 100%;
  max-width: 100%;
}

.popup-text{
  float: left;
  margin-left: 3%;
  text-align: center;
}

/* members list btn */
.popup-box button{
  width: 100%;
  border-radius: 32px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  background-color: #33532C;
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
 
}

.popup-box button:hover {
  opacity: 1;
  background: #A4DF9A;
  color: black;
}


/* header for popup title */
.header-popup{
  margin-top: -15%;
  font-size: 40px;
  margin-left: 20%;
}

/* line tag for popup */
.hr-line{
  border: solid thin;
  color: black;
  margin-left: 20%;
}

/* group descripton text area */
.test{
  margin-left: 25%;
  margin-right: 5%;
  max-width: max-content;
  margin-top: 2%;
  overflow: hidden;
}

/* join group button OLD ONE
.popup-btn button{
  width: fit-content;
  font-size: 27px;
  margin-top: 10%;
  float: right;

}
*/

/* join group button NEW HAS BTN IN FIXED POSITON AT ALL TIMES*/
.popup-btn button{
  width: fit-content;
  font-size: 27px;
  float: right;
  position: fixed;
  top: 60%;
  right: 18%;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  margin-top: 6%;
}

.popup-text button{
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.box img {
  width: 100%;
  height: 100%;
}

.box1 img {
  object-fit: cover;
}