.members-list-page {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 21px 0;
  width: 1440px;
}

.top-bar-3 {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 19.0px;
  min-width: 1361px;
  position: relative;
}

.rectangle-22-1 {
  background-color: var(--alto);
  border: 1px none;
  height: 77px;
  width: 227px;
}

.overlap-group10 {
  height: 23px;
  margin-bottom: 2.0px;
  margin-left: 64px;
  position: relative;
  width: 197px;
}

.shop-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 129px;
}

.sell-2 {
  cursor: pointer;
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 129px;
}

.divider-bar-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -15px;
  margin-top: 22px;
  min-height: 60px;
  padding: 0 15px;
  width: 1480px;
}

.line-1-1 {
  height: 1px;
  margin-top: -1px;
  width: 1440px;
}

.flex-row-1 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 51px;
  margin-left: 67.0px;
  margin-top: 5px;
  min-width: 1311px;
  position: relative;
}

.place-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 6.0px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.shop-3 {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.sell-3 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.groups-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 33px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.wishlist-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 169px;
}

.line-2-1 {
  height: 1px;
  margin-top: 3px;
  width: 1440px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 745px;
  margin-left: 28px;
  margin-top: 33px;
  min-width: 1281px;
}

.middle-bar-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 439px;
  width: 327px;
}

.group-icon {
  height: 323px;
  object-fit: cover;
  width: 323px;
}

.overlap-group1 {
  height: 52px;
  margin-left: 3px;
  margin-top: 21px;
  position: relative;
  width: 317px;
}

.marketplace-sellers {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 266px;
}

.line-3-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 317px;
}

.x2174913-groups-1 {
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 5px;
  min-height: 26px;
  text-align: center;
  width: 228px;
}

.line-4-1 {
  height: 1px;
  margin-left: 3px;
  margin-top: 12px;
  width: 317px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  min-height: 745px;
  width: 925px;
}

.marketplace-sellers-1 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 4.33px;
  min-height: 52px;
  text-align: center;
  width: 443px;
}

.side-search-bar {
  align-items: flex-end;
  display: flex;
  margin-top: 24px;
  min-width: 663px;
  position: relative;
}

.overlap-group-2 {
  height: 43px;
  position: relative;
  width: 502px;
}

.members-list {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 287px;
}

.overlap-group11 {
  align-self: flex-end;
  height: 584px;
  margin-top: 42px;
  position: relative;
  width: 909px;
}

.members-list-1 {
  align-items: flex-start;
  display: flex;
  height: 564px;
  left: 0;
  min-width: 909px;
  position: absolute;
  top: 0;
}

.member-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 564px;
  position: relative;
  width: 340px;
}

.member1 {
  align-items: center;
  display: flex;
  margin-left: 1px;
  margin-top: 47px;
  min-width: 339px;
  position: relative;
}

.overlap-group-1 {
  height: 71px;
  position: relative;
  width: 207px;
}

.rizwhales {
  left: 62px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 145px;
}

.ellipse-5 {
  height: 71px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 71px;
}

.member1-1 {
  align-items: center;
  display: flex;
  margin-left: 4px;
  margin-top: 54px;
  min-width: 336px;
  position: relative;
}

.member1-2 {
  align-items: center;
  display: flex;
  margin-top: 54px;
  min-width: 340px;
  position: relative;
}

.member-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 214px;
  min-height: 561px;
  position: relative;
  width: 357px;
}

.member1-3 {
  align-items: flex-end;
  display: flex;
  margin-left: 3px;
  min-width: 354px;
  position: relative;
}

.member1-4 {
  align-items: flex-end;
  display: flex;
  margin-top: 54px;
  min-width: 357px;
  position: relative;
}

.member1-5 {
  align-items: center;
  display: flex;
  margin-top: 54px;
  min-width: 357px;
  position: relative;
}

.line-8 {
  height: 584px;
  left: 452px;
  position: absolute;
  top: 0;
  width: 1px;
}

