.middle-bar-7 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 121px;
  opacity: 0.4;
  position: absolute;
  top: 17px;
  width: 1410px;
}

.groups-9 {
  align-self: flex-start;
  letter-spacing: 0;
  min-height: 52px;
  text-align: center;
  width: 227px;
}

.line-3-7 {
  height: 1px;
  margin-right: 4px;
  margin-top: 14px;
  width: 1372px;
}

.group-container-3 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-right: 12.0px;
  margin-top: 10px;
  min-width: 1322px;
}

.x2174913-groups-4 {
  letter-spacing: 0;
  margin-bottom: 1px;
  min-height: 26px;
  text-align: center;
  width: 160px;
}

.overlap-group8-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--black);
  display: flex;
  height: 32px;
  margin-left: 959px;
  min-width: 203px;
  padding: 2.5px 3.5px;
}

.sort-by-default {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  min-height: 26px;
  text-align: center;
  width: 160px;
}

.polygon-2 {
  align-self: center;
  height: 8px;
  margin-left: 13px;
  margin-top: 2.75px;
  width: 12px;
}

.line-4-7 {
  height: 1px;
  margin-right: 4px;
  margin-top: 10px;
  width: 1372px;
}

