.search-button,
.search-button-1,
.search-button-2,
.search-button-3,
.search-button-4 {
  border: 1px none;
  height: 30px;
  margin-left: 50px;

}

.search-button {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

