:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --black-2: #00000080;
  --white: #ffffff;
  --white-2: #ffffff80;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 17px;
  --font-size-xl: 25px;
  --font-size-xs: 16px;
  --font-size-xxl: 30px;
  --font-size-xxs: 15px;
 
  --font-family-tienne: "Tienne", Helvetica;
}
.tienne-normal-black-17px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.tienne-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.tienne-bold-black-15px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.tienne-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.tienne-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.tienne-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.tienne-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.tienne-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.tienne-bold-black-39px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
}

.tienne-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.tienne-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.tienne-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.tienne-normal-black-48px {
  color: var(--black);
  font-family: var(--font-family-tienne);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}
