.group-creation {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  padding: 21px 0;
  width: 1440px;
}

.top-bar {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 19.0px;
  min-width: 1361px;
  position: relative;
}

.rectangle-22 {
  background-color: var(--alto);
  border: 1px none;
  height: 77px;
  width: 227px;
}

.overlap-group4 {
  height: 23px;
  margin-bottom: 2.0px;
  margin-left: 64px;
  position: relative;
  width: 197px;
}

.shop {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 129px;
}

.sell {
  cursor: pointer;
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 129px;
}

.divider-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -15px;
  margin-top: 22px;
  min-height: 60px;
  padding: 0 15px;
  width: 1480px;
}

.line-1 {
  height: 1px;
  margin-top: -1px;
  width: 1440px;
}

.flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  height: 51px;
  margin-right: 153.0px;
  margin-top: 5px;
  min-width: 1091px;
  position: relative;
}

.place {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 6.0px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.shop-1 {
  letter-spacing: 0;
  margin-bottom: 6.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.sell-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.groups {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 33px;
  min-height: 23px;
  text-align: center;
  width: 129px;
}

.wishlist {
  cursor: pointer;
  letter-spacing: 0;
  margin-bottom: 4.0px;
  margin-left: 34px;
  min-height: 23px;
  text-align: center;
  width: 169px;
}

.line-2 {
  height: 1px;
  margin-top: 3px;
  width: 1440px;
}

.middle-bar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  min-height: 121px;
  width: 1412px;
}

.overlap-group3 {
  align-self: flex-start;
  height: 52px;
  position: relative;
  width: 794px;
}

.and-start-listing-products-rightaway {
  left: 447px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 347px;
}

.create-a-group-now {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 498px;
}

.line-3 {
  height: 1px;
  margin-right: 6px;
  margin-top: 15px;
  width: 1372px;
}

.group-container {
  align-items: center;
  align-self: center;
  display: flex;
  margin-left: 15.0px;
  margin-top: 8px;
  min-width: 1351px;
}

.x2174913-groups {
  letter-spacing: 0;
  margin-top: 3.0px;
  min-height: 26px;
  text-align: center;
  width: 247px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 37px;
  justify-content: flex-end;
  margin-left: 843px;
  min-width: 261px;
  padding: 3px 4.8px;
}

.create-group {
  letter-spacing: 0;
  min-height: 20px;
  text-align: center;
  width: 242px;
}

.line-4 {
  height: 1px;
  margin-right: 6px;
  margin-top: 8px;
  width: 1372px;
}

.overlap-group5 {
  align-self: center;
  height: 612px;
  margin-right: 39.0px;
  margin-top: 37px;
  position: relative;
  width: 1325px;
}

.group-create-area {
  display: flex;
  flex-direction: column;
  height: 603px;
  left: 270px;
  position: absolute;
  top: 9px;
  width: 1055px;
}

.group-name {
  height: 49px;
  letter-spacing: 0;
  margin-left: 39px;
  text-align: center;
  width: 219px;
}

.rectangle-13 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--black);
  border-radius: 15px;
  height: 72px;
  margin-left: 59px;
  margin-top: 9px;
  opacity: 0.5;
  width: 990px;
}

.group-description {
  height: 49px;
  letter-spacing: 0;
  margin-left: 25px;
  margin-top: 32px;
  text-align: center;
  width: 306px;
}

.rectangle-14 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--black);
  border-radius: 15px;
  height: 192px;
  margin-left: 53px;
  margin-top: 9px;
  opacity: 0.5;
  width: 990px;
}

.group-privacy {
  height: 49px;
  letter-spacing: 0;
  margin-top: 32px;
  text-align: center;
  width: 306px;
}

