.create-group-button {
  border: 1px none;
  cursor: pointer;
  height: 49px;
  left: 1123px;
  position: absolute;
  top: 9px;
}

.create-group-button {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

