@import url('http://fonts.cdnfonts.com/css/tienne');

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Tienne', sans-serif;
  font-size: larger;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 40px; /* Add a top margin to avoid content overlay */
  margin-left: 340px; /* Same as the width of the sidebar */

}

/* Links inside the navbar for login and user*/
.nav-login a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Tienne', sans-serif;
  font-size: larger;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #8467c9;
  color: white;
}

/* Style the search box inside the navigation bar */
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


/* The sidebar menu */
.sidenav {

  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* remove this */
  padding-top: 20px;
  margin-top: 150px; 

}

/* header of side nav menu */
.header{
  font-size: 45px;
  color: #818181;
  font-family: 'Tienne', sans-serif;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  font-family: 'Tienne', sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


/* HOME PAGE TITLE */
.home-title{
  font-family: 'Tienne', sans-serif;
  font-size: 40px;
}


/* Row and Col for the Product gallery view */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Row and Col for the Product gallery view */
.row2 {
  display: flex;
}

.logo-position{
  border: 3px solid #555;
}

/* wrappers to move products */

.products-wrapper{
  margin-top: -10px;
}

.wrapper{
  margin-top: 40px;
}

/* Product Card CSS*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* moves the img in the product card down abit */
.img-wrap{
  margin-top: 10px;
}

/* moves item name + cart up abit */
.item-cart{
  margin-top: -10px;
}

.move-drop-btn{
  float: right;
  margin-right: 100px;
}