@import url('http://fonts.cdnfonts.com/css/tienne');
  /* LOGIN FORM CSS */ 
  .App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(151, 234, 255);
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 44px;
    color: rgb(34, 34, 34);
    font-weight: 500;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .slogan{
    margin-top: -40px;
    font-size: 13px;
    text-align: center;
  }

  .title{
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
  }