.wishlist-marker {
  display: flex;
  height: 23px;
  left: 587px;
  position: absolute;
  top: 361px;
  width: 698px;
}

.icon-star {
  height: 20.8px;
  margin-left: 0.6px;
  width: 21.87px;
}

.icon-star-1 {
  height: 20.8px;
  margin-left: 318.1px;
  width: 21.87px;
}

.icon-star-2 {
  height: 20.8px;
  margin-left: 313.1px;
  width: 21.87px;
}

