.manage-dropdown-button-8 {
  border: 1px none;
  height: 38px;
  margin-bottom: 8px;
  margin-left: 27px;
}

.manage-dropdown-button-8.manage-dropdown-button-2 {
  margin-bottom: unset;
  margin-left: 30px;
  margin-top: 9.0px;
}

.manage-dropdown-button-8.manage-dropdown-button-3 {
  border: 1px none;
  height: 38px;
  margin-left: 27px;
  margin-top: 3.0px;
}

.manage-dropdown-button-8.manage-dropdown-button-4 {
  border: 1px none;
  height: 38px;
  margin-bottom: 11.0px;
  margin-left: 31px;
}

.manage-dropdown-button-8.manage-dropdown-button-5 {
  border: 1px none;
  height: 38px;
  margin-bottom: 8px;
  margin-left: 45px;
}

.manage-dropdown-button-8.manage-dropdown-button-1 {
  margin-bottom: unset;
  margin-left: 48px;
  margin-top: 9.0px;
}

.manage-dropdown-button-8.manage-dropdown-button-6 {
  border: 1px none;
  height: 38px;
  margin-bottom: 8px;
  margin-left: 48px;
}

.manage-dropdown-button-8.manage-dropdown-button-7 {
  border: 1px none;
  height: 38px;
  margin-bottom: 5.0px;
  margin-left: 48px;
}

.manage-dropdown-button-4 a {
  display: inherit;
}

.manage-dropdown-button-3 a {
  display: inherit;
}

.manage-dropdown-button-1 a {
  display: inherit;
}

.manage-dropdown-button-6 a {
  display: inherit;
}

.manage-dropdown-button-5 a {
  display: inherit;
}

.manage-dropdown-button-7 a {
  display: inherit;
}

.manage-dropdown-button-2 a {
  display: inherit;
}

.manage-dropdown-button-8 a {
  display: inherit;
}

.manage-dropdown-button-1 a {
  display: inherit;
}

