/* Popup style */
.popup-box-display {
  position: fixed;
  width: 110%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 6%;
  display: flex;
  margin-left: 1%;
}

.group-header {
  width: 100%;
  display: inline-block;
}

.group-title{
  font-family: 'Tienne', sans-serif;
  font-size: 40px;
  float: left;
  width: 83%;
}

.group-listing-info {
  width: 100%;
}
   
.display-box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 100vh;
  background: #fff;
  padding: 20px;
  overflow: auto;
}
   
/* wrap for img sqaure*/
.display-square-popup{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 15%;
  height: 15%;
  margin-right: 2%;
  float: left;
}

.header-popup-display button{
  float:right;
  font-size: 16px;
  margin-top: -16%;
}

/* line tag for popup */
.hr-line{
  border: solid thin;
  color: black;
  margin-left: 20%;
}

.smaller{
  font-size: 15px;
  text-align: left;
}

.header-popup-display{
  margin-top: -50%;
  font-size: 40px;
  margin-left: 20%;
  text-align: left;
}

.group-btn {
  float: right;
  font-size: 16px;
  background-color: #A4DF9A;
  color: black;
  border-radius: 12px;
  border: none;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.component-display{
    border: thin solid;
    margin-top: 7%;
}

.number-group-listings {
  margin-top: 150px;
}

.group-btn:hover {
  opacity: 1;
  background: #5A896A;
  color: white;
}

