.search-member{
    float: right;
    margin-right: 3%;
    font-size: 20px;
    margin-top: -6px;
}

.square-pic-mem{
    max-width: fit-content;
    max-height: fit-content;
    
}
/*
.left-box-mem{
    border: solid thin;
    max-width: 500px;
    max-height: 500px;
    height: 200px;
    width: 200px;
    display: flex;
    float: left;
}
*/

.left-box-mem{
    border: solid thin;
    max-width: 300px;
    max-height: 300px;
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 3%;
    
}
.shift-title{
    margin-left: 13%;
}

.lines{
    margin-right: 3%;
}

.number-members {
    margin-left: 19%;
}