.member1-8 {
  align-items: center;
  display: flex;
  margin-top: 47px;
  min-width: 357px;
  position: relative;
}

.overlap-group-4 {
  height: 71px;
  position: relative;
  width: 207px;
}

.rizwhales-2 {
  left: 62px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 145px;
}

.ellipse-5-2 {
  height: 71px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 71px;
}

.member1-8.member1-9 {
  margin-top: 51px;
}

